<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>CandidateHTTPService</servlet-name>
        <servlet-class>api.microservices.endpoints.CandidateHTTPService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CandidateHTTPService</servlet-name>
        <url-pattern>/registerCandidate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyHTTPService</servlet-name>
        <servlet-class>api.microservices.endpoints.CompanyHTTPService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompanyHTTPService</servlet-name>
        <url-pattern>/registerCompany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VacancyHTTPService</servlet-name>
        <servlet-class>api.microservices.endpoints.VacancyHTTPService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VacancyHTTPService</servlet-name>
        <url-pattern>/registerVacancy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyLoginHTTPService</servlet-name>
        <servlet-class>api.microservices.endpoints.CompanyLoginHTTPService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompanyLoginHTTPService</servlet-name>
        <url-pattern>/loginCompany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CandidateLoginHTTPService</servlet-name>
        <servlet-class>api.microservices.endpoints.CandidateLoginHTTPService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CandidateLoginHTTPService</servlet-name>
        <url-pattern>/loginCandidate</url-pattern>
    </servlet-mapping>
</web-app>